html {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

main h1 {
    font-size: 48px;
    color: black;
    text-align: center;
}

.about p {
    text-align: center;
}

.startContainer {
    display: flex;
    justify-content: center;
}
.startButton {
    border: 2px solid white;
    border-radius: 25%;
    font-size: 25px;
    margin-top: 45px;
}
.startButton:hover {
    background-color: green;
}

.startButton:focus {
    background-color: green;
}

.time {
    font-size: 25px;
    margin: auto;
    text-align: center;
    width: 45px;

}

.container {
    border: 2px solid white;
    height: 450px;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    
}


button {
    justify-content: flex-start;
    width: 150px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
.question {
    margin: 5px 5px 5px 5px;
    border: 2px solid white;
    height: 75px;
    font-size: 24px;
    padding-bottom: 25px;
    
}

.answerButton {
    padding: 5px 5px 5px 5px;
    border: 0;
    display: flex;
    justify-content: flex-start;
    width: 25px;
    height: auto;
    text-decoration: none;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid black;
    width: 160px;
}

#selected {
    text-align: center;
    font-size: 48px;
}

.scoreboard {
    border: 2px solid black;
    width: 500px;
    margin: auto;
}
.scorecard {
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
}

#userScoreDone {
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    width: 35px;
    margin: auto auto 10px auto;
    color: black;
}

#userNewScore {
    text-align: center;
    font-size: 42px;
}

#newScoreUser {
    text-align: center;
    font-size: 36px;
}

#firstPlace {
    color: black;
    font-size: 24px;
    padding: 25px;
}

#secondPlace {
    color: black;
    font-size: 24px;
    padding: 25px;
}

#thirdPlace {
    color: black;
    font-size: 24px;
    padding: 25px;
}

#fourthPlace {
    color: black;
    font-size: 24px;
    padding: 25px;
}

#fifthPlace {
    color: black;
    font-size: 24px;
    padding: 25px;
}


.hide {
    display: none;
}